/* Identity */
#identity-wrapper {
    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;
}

.identity-section {
    /*max-width: 40%;*/
    /*width: 40%;*/
    max-width: 500px;
    padding-bottom: 5rem;
}

/*.identity-section:before {
    content: ">_";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/93/Tango-bullet.svg);
}*/

.identity-whole-title {
    font-size: 2rem;
    color: var(--medium-gray-color);
}

.identity-whole-title:before {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*content: ">_ ";*/
    /*color: var(--theme-color);*/
    /*transform: translateX(-200%);*/
    /*display: inline-block;*/
}

.identity-title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--theme-color);
}

.identity-description {
    font-size: 1.5rem;
    padding-top: 0.8rem;
    color: var(--dark-gray-color);
}

@media only screen and (max-width: 768px) {
    .identity-section {
        width: 80%;
        max-width: initial;
    }
}
