.professional-wrapper {
    background-color: white;
    /*height: auto;*/
    /*align-items: center;*/
}

.professional-section {
    position: relative;

    height: auto;
    display: flex;
    columns: 2;
}

.info-wrapper {
    width: 40%;
    margin: 0;
    padding: 4rem;
    padding-left: 5%;

    flex: 1 1 40%;
}

.trapezoid {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.trapezoid-right {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

/* Section */

.pro-top-wrapper {
    width: 100%;
    margin-bottom: 2rem;

    display: flex;
    columns: 2;

    font-size: 1.5rem;
}

.align-padding-width {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
}

.align-padding {
}

.title-wrapper {
    width: 100%;
}

.company-name {
    font-weight: bold;
    font-size: 1.8rem;
}

.job-title {
    color: var(--theme-color);
    width: 100%;
}

/* Bottom Description Bullet Points*/

.pro-bottom-wrapper {
    display: flex;
    flex-direction: column;
}

.description-row {
    display: flex;

    font-size: 1.3rem;
    color: var(--dark-gray-color);

    margin-bottom: 2rem;
}

.svg-bullet-wrapper {
    /*background-color: pink;*/

    display: flex;
    align-items: center;
    color: var(--light-medium-gray-color);
}

.description-text {
    /*background-color: purple;*/
    /*width: 80%;*/
    padding-top: 0.3rem;
}

/* Image Stuff */

.image-wrapper {
    position: relative;

    width: 50%;
    height: 35rem;
    /*height: 100%;*/
    margin-bottom: 8rem;

    overflow: hidden;
    /*background-image: url("../images/professional-img/worldpayFeature.png");*/
    background-size: cover;
    background-position: right;

    flex: 2 2 50%;
}

.pro-image-darkener {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}
