/* Forces browser to calculate size so padding doesn't affect width */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {
    scroll-snap-type: y proximity;
}*/

#projects-grid {
    /*scroll-snap-align: start;*/

    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    /*height: 100%;*/
    /*overflow: scroll;*/

    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /*-ms-overflow-style: none;*/
}

#projects-grid::-webkit-scrollbar {
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /*display: none;*/
}

.projects-grid-row {
    background-color: gray;
    display: flex;
    columns: 3;
    justify-content: center;
    width: 100%;
}

.projects-grid-col {
    background-color: white;
    height: 30px;

    width: 100%;
}

.projects-grid-elem {
    flex: 0 0 50%;
    height: 30rem;
    background-size: cover;
}

.projects-grid-elem-4 {
    flex: 0 0 25%;
    height: 15rem;
}

.grid-elem-inner {
    position: relative;

    width: 100%;
    /*width: 70%;*/
    height: 100%;
    /*margin: 2rem;*/

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.title-desc-wrapper {
    width: 70%;
    height: auto;
    z-index: 6;
}

.project-img-darkener {
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: 5;

    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}

.project-title {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.project-description {
    color: white;
    font-size: 1.25rem;

    margin-top: 1rem;
}

.links-wrapper {
    position: absolute;
    z-index: 6;
    right: 2rem;
    bottom: 2rem;
    text-decoration: none;
    /*width: 8rem;*/
}

.links-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    background-color: white;
    border-radius: 100px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.links-icon svg {
    stroke: var(--theme-color);
}
