@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Overpass:400,900&display=swap");

body,
html {
    font-family: "Overpass", sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: black;
}

.hide {
    display: none;
}

.code-font {
    font-family: "Source Code Pro", monospace;
}

#root {
    height: 100%;
}

/* Variables */
:root {
    --light-theme-color: #79ffe7;
    --theme-color: #5cc2b0;
    --light-gray-color: #fbfbfb;
    --light-medium-gray-color: #c6c6c6;
    --medium-gray-color: #5e5e5e;
    --dark-gray-color: #1d1d1d;
}

/* General */

/* Dither */
.dither-gradient {
    height: 40rem;
    background-color: white;
    /*background-image: url("/dither-gradient.png");*/
    background-image: url("../images/dither-gradient.png");
    background-repeat: repeat-x;
}

/* Banner */
#page-wrapper {
    height: 100%;
}

#banner {
    width: 100%;
    height: 80%;
    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-photo {
    width: 100%;
    height: auto;

    position: absolute;
    z-index: 90;
}

#banner-darkener {
    width: 100%;
    height: 100%;
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    z-index: 100;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

#banner-text {
    position: absolute;
    font-size: 8rem;
    font-weight: 900;
    z-index: 110;
    color: white;
}

@media only screen and (max-width: 768px) {
    body,
    html {
        /*background-color: pink;*/
        overflow-x: hidden;
    }

    #banner-photo {
        width: 200%;
    }

    #banner-text {
        font-size: 4rem;
    }

    #professional-terminal {
        /*font-size: 1rem;*/
    }
}
