/* GENERAL */
.terminal-wrapper {
    display: flex;
    justify-content: center;
    height: 20rem;
    color: var(--light-theme-color);
}

.terminal {
    height: 100%;
    line-height: 1.5rem;
    margin-top: 4rem;
    /*width: 50%;*/
    width: 700px;
    font-size: 1.5rem;
}

/* For when you want terminal text to overflow into next section */
.terminal-overflow {
    height: 10rem;
}

.terminal-white {
    font-weight: 700;
    color: white;
}

.terminal-user-input {
    font-weight: bold;
    color: white;
}

.terminal-cursor {
    font-weight: bold;
    color: white;
}

/* SPECIFIC */

#intro-terminal {
}

@media only screen and (max-width: 768px) {
    .terminal-wrapper {
        width: 100%;
    }

    .terminal {
        margin-top: 3rem;
        width: 80%;
    }
}

